@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model About

<p>@Model.Title</p>
<p>@Model.Description</p>
<p> 

    <img width = "100" src="@Model.PhotoURL"  />

</p>


<a class = "btn btn-danger" href = "/admin/about/delete/@Model.ID">Delete</a>